.btn_elem {
  padding: 12px 56px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  border: none;
}

.switch_background {
  color: white;
  background-color: #339933;
  margin: auto;
  width: 100%;
}

.switch_background:hover {
  background-color: #282828;
}

@media (max-width: 1280px) {
  .btn_elem {
    padding: 12px 48px;
  }
}

@media (max-width: 1100px) {
  .btn_elem {
    font-size: 18px;
    padding: 10px 36px;
  }
  
}

@media (max-width: 960px) {
  .btn_elem {
    font-size: 18px;
    padding: 8px 18px;
  }
  
}