.wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  background: #F1F3F4;
  border-radius: 12px;
  height: fit-content;
}
.order_details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_title {
  font-size: 40px;
  padding-bottom: 0;
}
.items_number, .order_sum_title {
  color: #8B8B8B;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%
}

.order_sum_field {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.order_sum_value {
color: var(--txt-black, #282828);
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 70.4px */
}

.discount_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.input_field {
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  padding: 16px 32px;
  color:  #8B8B8B;
  border-radius: 6px;
  border: 1px solid #DDD;
  background: white;
}

.input_field::placeholder {
  color:  #8B8B8B;
}

.submit_button {
  padding: 16px 32px;
  background: #393;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 24px;
  }
  .order_sum_value {
    font-size: 52px;
  }
  .order_sum_title {
    font-size: 36px ;
  }
  .items_number {
    font-size: 36px;
  }
  .input_field {
    padding: 16px 24px;
  }
}

@media (max-width: 1040px) {
  .wrapper {
    padding: 16px;
  }
  .form_title {
    font-size: 36px;
  }
  .items_number, .order_sum_title {
    font-size: 32px;
  }
  .order_sum_value {
    font-size: 40px;
  }
  .input_field {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 16px;
  }
}

@media (max-width: 900px) {
  .form_title {
    font-size: 28px;
  }
  .items_number, .order_sum_title {
    font-size: 24px;
  }
  .order_sum_value {
    font-size: 32px;
  }

  .input_field {
    font-size: 14px;
    font-weight: 400;
    padding: 12px 8px;
  }
}

@media (max-width: 800px) {
  .form_title {
    font-size: 40px;
  }
  .input_field {
    font-size: 20px;
    padding: 16px 32px;
  }
  .order_sum_value {
    font-size: 64px;
  }
  .items_number, .order_sum_title {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .form_title {
    font-size: 36px;
  }
  .order_sum_value {
    font-size: 56px;
  }
  .items_number, .order_sum_title {
    font-size: 32px;
  }
}