.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  margin-top: 40px;
}

.filter_form {
  display: flex;
  gap: 40px;
  align-items: center;
}

.filter_form > label {
  display: flex;
  gap: 16px;
  color: #282828;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  align-items: center;
  margin-bottom: 40px;
}

.price_input {
  font-size: 16px;
  padding: 8px 16px;
  width: 112px;
  border-radius: 6px;
  border: 1px solid  #DDD;
}


.check_box {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid var(--grey-divider, #DDD);
}

.check_box:checked {
  border-radius: 30px;
  border: 1px solid #DDD;
  background-color: antiquewhite;
}

.select_filter {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid var(--grey-divider, #DDD);

}

@media (max-width: 960px) {

  .filter_form {
    gap: 28px;
  }
  .filter_form > label {
    font-size: 16px;
  }
  
}

@media (max-width: 760px) {

  .wrapper {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  .filter_form {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
  .filter_form > label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
  }
  .price_input {
    font-size: 12px;
    padding: 2px 8px;
    width: 112px;
    border-radius: 6px;
    border: 1px solid  #DDD;
  }

  .check_box {
    width: 21px;
    height: 21px;
  }
  
  .select_filter {
    padding: 2px 8px;
    border-radius: 6px;
    border: 1px solid var(--grey-divider, #DDD);
  }

  .select_filter > option {
    font-size: 12px;
  }

}