.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-top: 80px;
  padding: 0 40px;
  
}

.discount_form_banner {
  width: 100%;
  margin: auto;
  padding: 32px 32px 0 32px;
  background: linear-gradient(90deg, #339933, #0B710B);
  border-radius: 12px;
}
.header_text {
  text-align: center;
  color: white;
  padding-bottom: 24px;
}
.form_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.discount_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  padding-bottom: 32px;
}

.input_field {
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 16px 32px;
  color: white;
}

.input_field::placeholder {
  color: white;
}

.submit_button {
  padding: 16px 32px;
  background-color: white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }
  .form_picture {
    width: 600px;
  }
  .input_field {
    padding: 12px 30px;
  }

  .submit_button {
    padding: 12px 30px;
  }

  .header_text {
    text-align: center;
    padding-bottom: 20px;
    font-size: 56px;
  }
}

@media (max-width: 980px) {

  .discount_form_banner {
    padding-top: 30px;
  }
  .form_picture {
    width: 500px;
  }

  .input_field {
    padding: 10px 20px;
    font-size: 16px;
  }

  .submit_button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .header_text {
    text-align: center;
    padding-bottom: 16px;
    font-size: 48px;
  }
}

@media (max-width: 820px) {

  .discount_form_banner {
    padding-top: 20px;
  }

  .form_picture {
    width: 450px;
  }

  .input_field {
    padding: 8px 20px;
    font-size: 14px;
  }

  .submit_button {
    padding: 8px 20px;
    font-size: 14px;
  }

  .header_text {
    text-align: center;
    padding-bottom: 12px;
    font-size: 36px;
  }

  .discount_form {
    gap: 10px;
  }
}

@media (max-width: 750px) {

  .form_picture {
    width: 422px;
  }
  .input_field {
    padding: 8px 16px;
    font-size: 14px;
  }

  .submit_button {
    padding: 8px 16px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {


  .form_wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .form_picture {
    width: 100%;
  }
}