* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 128px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  justify-content: center;
  background-color: white;
  /* position: fixed;
  width: 100%;
  z-index: 100;
  max-width: 1440px;
  top: 0 */
}

.menu_wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
}


.menu {
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.cart_icon {
  width: 48px;
}


@media (max-width: 760px) {
  a {
    font-size: 16px;
    font-weight: 400;
  }
  .menu {
    gap: 20px;
  }
  .menu_wrapper {
    justify-content: space-around;
    padding: 0;
  }
  .logo {
    width: 50px;
  }
}

@media (max-width: 450px) {
  .header {
    height: 60px;
  }
  .menu{
    gap: 8px
  }
  a {
    font-size: 13px;
    font-weight: 400;
  }
  .logo {
    width: 30px;
  }

  .menu {
    gap: 10px;
  }
  
}