.popup_wrapper {
  position: absolute;
  bottom: 16px;
  width: 100%;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup_wrapper.active {
  display: flex;
}