.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 80px 40px 0 40px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header_text {
  font-size: 64px;
  font-weight: 700;
  padding: 0 40px 0 0;
  vertical-align: middle;
}

.header_navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.decoration_line {
  width: calc(100% - 150px);
  border-bottom: 1px solid #DDD;
}
.navigation_button {
  font-size: 16px;
  color: #8B8B8B;
  padding: 8px 16px;
  width: fit-content;
  height: fit-content;
  border: 1px solid #DDD;
  border-radius: 6px;
}

@media (max-width: 1100px) {

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  
}

@media (max-width: 960px) {
  .header_text {
    font-size: 56px;
  }
}

@media (max-width: 600px) {
  .header_text {
    font-size: 40px;
  }
  
}

@media (max-width: 450px) {
  .wrapper {
    padding-top: 40px;
  }
  .header_text {
    font-size: 24px;
  }

  .navigation_button {
    font-size: 10px;
    padding: 4px 8px;
  }
  
  .decoration_line {
    width: calc(100% - 90px);
    border-bottom: 1px solid #DDD;
  }
}