@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.categories_list_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1360px;
  gap: 32px;
  margin: auto;
}

.categories_list_categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1360px;
  gap: 30px;
  margin: auto;
}

@media (max-width: 1100px) {
  .categories_list_main {
    gap: 24px;
  }
  .categories_list_categories {
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 960px) {
  .categories_list_categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {

  .categories_list_main {
    gap: 20px;
  }
  .categories_list_main {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories_list_categories {
    grid-template-columns: repeat(2, 1fr);
  }
  
}
@media (max-width: 450px) {
  .categories_list_main {
    gap: 12px;
  }
  .categories_list_categories {
    gap: 12px;
  }
  
}