.banner {
  width: 100%;
  height: 600px;
  padding: 80px 40px 0 40px;
}

.header_text {
  font-size: 96px;
  font-weight: 700;
  line-height: 110%;
  color: white;
  padding-bottom: 40px;
}

@media (max-width: 920px) {

  .banner {
    height: 400px;
    padding-top: 40px;
  }
  .header_text {
    font-size: 64px;
  }
}

@media (max-width: 660px) {
  .header_text {
    font-size: 40px;
  }
  
}